<h1><%= @user.email %>'s profile</h1>


<%= image_tag("#{@user.image}" + '?type=large') if @user.image %>
<br>
<%= @user.email %> Uploaded:
<br>
<br>

<% @user.cheerups.each do |cheerup| %>
  <div class="a_cheerup">
    <div id="the_canvas">
       <% if cheerup.imageupload.to_s != "" %>
          <img class="the_image" src="<%= cheerup.imageupload %>"/>
        <% else %>
          <img class="the_image" src="<%= cheerup.image %>"/>
        <% end %>
      <div id="main_text"><%= cheerup.title %></div>
      <div id="sub_text"><%= cheerup.sub_title %></div>
    </div>

    <br>
    <br>
<% end %>

<br>
<% @user.email %> Upvoted:
<br>
<br>

<% @cheerups_upvoted.each do |cheerup_vote| %>
  <% cheerup = cheerup_vote.cheerup %>
  <div class="a_cheerup">
    <div id="the_canvas">
      <img class="the_image" src="<%= cheerup.image %>"/>
      <div id="main_text"><%= cheerup.title %></div>
      <div id="sub_text"><%= cheerup.sub_title %></div>
  </div>
    <br>
    <br>
<% end %>



