<%= form_for(@cheerup) do |f| %>
  <% if @cheerup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cheerup.errors.count, "error") %> prohibited this cheerup from being saved:</h2>

      <ul>
      <% @cheerup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>1. Choose your image</h2>
  <p>Choose from our images or upload your own</p>
  <div id="default_image_thumbnails">
    <div class="thumbnail" id="thumb1"></div>
    <div class="thumbnail" id="thumb2"></div>
    <div class="thumbnail" id="thumb3"></div>
    <div class="thumbnail" id="thumb4"></div>
    <div class="thumbnail" id="thumb5"></div>
    <div class="thumbnail" id="thumb6"></div>
  </div>

  <div id="the_canvas">
    <img class="the_image" src="<%= @cheerup.image %>"/>
    <div id="main_text">THE CHEERUP TITLE</div>
    <div id="sub_text">Your gems of wisdom</div>
  </div>

  <div class="field">
      <%= f.label :image %><br />
      <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :sub_title %><br />
    <%= f.text_field :sub_title %><br />
    <p>Characters left: <span id="counter">141</span></p>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
