<h1>Cheerups</h1>


<%= flash[:notice] %>

<%= link_to 'New Cheerup', new_cheerup_path %>


<% @cheerups.each do |cheerup| %>
<div class="a_cheerup">
  <div id="the_canvas">
    <div id="the_image"></div>
    <div id="main_text"><%= cheerup.title %></div>
    <div id="sub_text"><%= cheerup.sub_title %></div>
  </div>
  <div class="cheerup_author">Created by <%= cheerup.user.email %> <%= time_ago_in_words(cheerup.created_at) %> ago</div>
  <div class="voting">Vote Up || Vote down || <%= cheerup.cheerpoints %> votes already </div>
  <div class="actions"><%= link_to 'Edit', edit_cheerup_path(cheerup) %> | <%= link_to 'Delete', cheerup, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= toggle_flag_button(cheerup, current_user) %></div>
</div>
<% end %>

<%= paginate @cheerups %>
