<h1>Listing cheerups</h1>

<table id="cheerups">
  <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Cheerpoints</th>
        <th>Vote</th>
        <th>User</th>
        <th>Created</th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody class="page">
    <% @cheerups.each do |cheerup| %>
  <tr>
    <td><%= cheerup.title %></td>
    <td><%= cheerup.sub_title %></td>
    <td><%= cheerup.cheerpoints %></td>
    
    <td><%= cheerup.user.email %></td>
    <td><%= cheerup.created_at %></td>
    <td><%= link_to 'Show', cheerup %></td>
    <td><%= link_to 'Edit', edit_cheerup_path(cheerup) %></td>
    <td><%= link_to 'Destroy', cheerup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Cheerup', new_cheerup_path %>
<%= paginate @cheerups %>
