<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @cheerup %>
      <%= @cheerup.title %> - <%= @cheerup.sub_title %>
    <% else %>
      Cheerupapp
    <% end %>


  </title>
  <% if @cheerup %>

  <meta property="og:title" content="<%= @cheerup.title %> - <%= @cheerup.sub_title %>" />
  <meta property="og:description" content="Send your own cheerups at www.cheerups.com!" />

  <% end %>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style type="text/css">
    h2 {
      font-family: 'Source Sans Pro', sans-serif;
    }
    li, p {
      font-family: sans-serif;
    }
    div .activity, td {
      font-family: sans-serif;
    }
    table {
      font-family: sans-serif;
      font-size:12px;
      background:#fff;
      border-collapse:collapse;
      text-align:center;margin:20px;
      }
    thead {
      padding:10px 8px;
    }
    th {
      font-size:14px;
      font-weight:normal;
      color:#039;
      border-bottom:2px solid #000;
      padding:10px 8px;
    }
    td {
      color:#669;
      padding:9px 8px 0;
    }
    #leaderboard, #activities {
      margin: 15px 0px; 
      border-radius: 5px;
      border: 1px solid #ddd;
      background-color: #fff;
      color: gray;
    }
  </style>

</head>
<body>

  <header style="width:100%; background-color: #533354; height: 50px;">
    <div class="container sixteen columns" id="nav">

      <h1 style="position: absolute; top: 0; font-family: 'Source Sans Pro', sans-serif; font-size:2.4em">Cheerups</h1>

        <ul>

          <% if current_user %>
            <li><%=link_to "Flagged cheerups", flagged_cheerups_path if can? :flagged_cheerups, Cheerup %></li>
            <li><%= current_user.email %></li>
            <%= image_tag("#{current_user.image}" + '?type=small') if current_user.image %>
            <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>

          <% else %>
            <li><%= link_to 'sign in', new_user_session_path %><li>
            <li><%= link_to 'register', new_user_registration_path %><li>
            <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><li>

          <% end %>
          <button style="display: inline"><%= link_to 'New Cheerup', new_cheerup_path %></button>
        </ul>



      </div>
      <div id="notices">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>


      </div>
    </header>




  <div class="container" >

    
    <div id="sidebar" class="container four columns" style="display:inline-block" >
      <div id="leaderboard">
        <h2 style="margin-bottom:0">Leaderboard</h2>
          <table>
            <tr>
              <th>Email</th>
              <th>Points</th>
            </tr>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.total_votes_received %></td>
            </tr>
            <% end %>
          </table>
        </div>

      <div id="activities">
        <h2>Activities</h2>
          <% @activities.each do |activity| %>
          <%= ActivityPresenter.new(activity, self).render_activity %>
          <% end %>
      </div>
    </div>

    <div class="container twelve columns ">
      <%= yield %>
    </div>

  </div>
</body>
</html>
